body {
  padding-top: 75px;
}
.box-shadow {
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.05),
    0px 4px 8px 0 rgba(0, 0, 0, 0.05);
}
#heroCarousel img {
  opacity: 0.6;
}
.adventages .c-icon {
  height: 100px;
}
#home-quote {
  background-image: url("../img/bg-quote.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  #home-quote .c-display-4 {
    font-size: 2rem;
  }
}
.lista-plano li {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.lista-plano li:last-child {
  border-bottom: none;
}
